<div class="backgroundImg">

  <div class="form">
      <h1>PARTITA FINITA</h1>
    <p *ngIf="this.partita.ioMorto">Hai perso, sei stato ucciso</p>

    <div *ngIf="this.partita.lupoMorto">
      <p *ngIf="this.partita.ruoloUtente=='Lupo'"> Hai perso, sei stato ucciso</p>
      <p *ngIf="this.partita.ruoloUtente!='Lupo'">Hai vinto, il lupo è stato ucciso</p>
    </div>

    <div *ngIf="this.partita.pochiBuoni">
      <p *ngIf="
      this.partita.ruoloUtente=='Lupo' ||
      this.partita.ruoloUtente=='Indemoniato'">Hai vinto, sono rimasti solo 2 buoni in vita</p>

      <p *ngIf="
      this.partita.ruoloUtente!='Lupo' &&
      this.partita.ruoloUtente!='Indemoniato'">Hai perso, siete rimasti solo 2 buoni in vita</p>

    </div>


  </div>

</div>