<div class="backgroundImg">

  <!------------------------ VOTAZIONE GIORNO ------------------->
  <div *ngIf="votazioneGiorno">
    <!-- se sono Contadino/Veggente/Guardia del corpo -->
    <div *ngIf="
      this.partita.ruoloUtente=='Contadino'||
      this.partita.ruoloUtente=='Veggente'||
      this.partita.ruoloUtente=='Guardia_del_corpo'" class="form">
      <div class="notte"><b><u> GIORNO</u></b></div>
      <p>Sei il <u>{{this.partita.ruoloUtente}}</u></p>
      <p>Chi secondo te è il LUPO?</p>
      <div *ngFor="let item of this.partita.personaggiVivi"  >
          <input type="radio" name="personaggio" value="{{item.nome}}" (click)="bersaglio=item.nome" name="bersaglio" *ngIf="(item.nome!= this.partita.nomeUtente) && (item.alive == true)"><span *ngIf="(item.nome!= this.partita.nomeUtente) && (item.alive == true)">{{item.nome}}</span>
      </div><br>

      <button type="button" (click)="vota(bersaglio!)">Invia voto</button>
    </div>
    <!-- se sono Indemoniato/Lupo  -->
    <div *ngIf="
    this.partita.ruoloUtente=='Lupo'||
    this.partita.ruoloUtente=='Indemoniato'" class="form">
    <div class="notte"><b><u> GIORNO</u></b></div>
    <p>Sei il <u>{{this.partita.ruoloUtente}}</u></p>
    <p>Chi secondo te è il CONTADINO?</p>
    <div *ngFor="let item of this.partita.personaggiVivi" >
      <input type="radio" name="personaggio" value="{{item.nome}}" (click)="bersaglio=item.nome" name="bersaglio" *ngIf="(item.nome!= this.partita.nomeUtente) && (item.alive == true)"><span *ngIf="(item.nome!= this.partita.nomeUtente) && (item.alive == true)">{{item.nome}}</span>
    </div><br>

    <button type="button" (click)="vota(bersaglio!)">Invia voto</button>
    </div>
  </div>


  <!------------------------ ESITO VOTAZIONE GIORNO ------------------->
  <div *ngIf="esitoGiorno"  class="form">
    <div *ngIf="morto!=''">
      <p>L'esito della votazione ha fatto uccidere {{morto}}</p>
    </div>
  </div>

</div>